<h1><%= @list.name %></h1>
<% @list.movies.each do |movie| %>
  <div class="card">
    <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
    <h6><%= movie.title %></h6>
    <p><%= bookmark.comment %></p>
    <%= link_to 'Delete', bookmark_path(bookmark), method: :delete %>
  </div>
<% end %>
<%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
